<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only
                (click)="initNewCategory()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="new_category">
    <ion-list>
      <ion-item>
        <ion-label fixed for="new-name">Name</ion-label>
        <ion-input id="new-name" 
                   type="text" 
                   required="true"
                   [(ngModel)]="new_category.name">
        </ion-input>
      </ion-item>
      <ion-item>
        <button ion-button (click)="newCategory(new_category)">
          Validate
        </button>
        <button ion-button color="light" (click)="deleteNewCategory()">
          Close
        </button>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngFor="let category of categories; let i = index;">
    <div *ngIf="category_edited != i">
      <ion-card-header>
        <ion-card-title>
          {{category.name}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <button ion-button
          (click)="category_edited = i"
          *ngIf="category_edited != i">
          Modify
        </button> 
        <button ion-button color="danger"
                           (click)="deleteCategory(category, i)">
          Delete
        </button> 
      </ion-card-content>
    </div>

    <!-- Note form -->
    <ion-list *ngIf="category_edited == i">
      <ion-item>
        <ion-label fixed for="name">Name</ion-label>
        <ion-input id="name" 
               type="text" 
               required="true"
               [(ngModel)]="category.name">
        </ion-input>
      </ion-item>
      <ion-item>
        <button ion-button (click)="updateCategory(category, i)">
          Validate
        </button>
        <button ion-button color="light" (click)="category_edited = -1">
          Close
        </button>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
